*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@font-face {
    font-family: 'The name of the Font Family Here';
    src: URL('../fonts/bpg_mrgvlovani_caps_2010.ttf') format('truetype');
  }
html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
    @media only screen and (max-width: $bp-medium) {
      font-size: 50%;
    }
}

body {
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows:repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    background-color: #ffffff;
    min-height: 150vh;
    overflow: hidden;
}


////////////////////Media queries
@media only screen and (max-width: $bp-small) {
  .col-3{
    display: flex !important;
    position: absolute;
    top:85%;
    left:-80%;
  }
  .article-teaser{
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0 .3px;
    background-color:#a4a8b1;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    figure > img{
      display: none !important;
    }
    .article-text{
      display: none !important;
    }
    
    
  }
    select{
      display: none !important;
    }
}
a{
  transition: all .1s;
} 
a:active{
  transform: translateY(2px);
}

@media only screen and (min-width: $bp-medium) {
  .navigation{
    display: none;
  }
  .hamburgerMenu{
    display: none;
  }
  .navbar{
    display: none;
  }
}
@media only screen and (max-width:$bp-medium){
 .live-link{
   display: block !important;
  } 
}

