.btn{
    font-size: 1.5rem;
    color: #fff;
    border: none;
    padding:.7rem 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    transition: all .2s;
    background-color:$color-primary-light;
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-primary-dark,.2);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(black,.2);
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn:active{
        transform: translateY(2px); 
}

.hamburgerMenu {
  position: relative;
  /* always keep ham on top of everything */
  z-index: 1000;
  top:60px;
  left:50px;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  /* show the menu image */
  background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
  background-size: 100%;
}

.showClose {
  background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
  background-color: gray;
}
